@charset "UTF-8";

@import url(reset.css);
@import url(font.css);

body {font-family: "Work Sans", sans-serif;}

.container {width: 1120px; margin: 0 auto;}
.btn_view {font-size: 15px; background: #c64932; color: #fff; padding: 9px 21px; display: inline-block;}
.btn_view.bk {background: #000;}

header {height: 80px; display: flex; justify-content: space-between; position: absolute; z-index: 10; width: 100%;}
/* z-index는 positon을 사용해야 쓸 수 있음 */
/* header에 앱솔루트를 줘서 인라인 블록이 됨 */
header h1 {width: 350px; display: flex; justify-content: center; align-items: center;}
header nav {width: 1000px;}
header nav .gnb {display: flex;}
header nav .gnb li {font-size: 18px; position: relative;}
header nav .gnb li a {padding: 28px 40px; display: block;}

header nav .gnb li .lnb {background: rgba(0, 0, 0, 0.7); position: absolute; width: 100%; height: 0; overflow: hidden; transition: 0.4s; backdrop-filter: blur(5px);}
/* 백드롭필터: 뒷배경이 뿌얘지는 효과 */
header nav .gnb li .lnb li {text-align: center;}
header nav .gnb li .lnb li a {color: #fff; padding: 0; line-height: 70px;}


header nav .gnb:hover li .lnb {height: 280px;}

header nav .gnb:hover li:hover {background: #c64932;}
header nav .gnb:hover li:hover a {color: #fff;}


header .more {width: 150px; display: flex; justify-content: center; align-items: center;}
header .more::before {content: ''; width: 4px; height: 18px; background: #000; position: absolute;}
header .more::after {content: ''; width: 4px; height: 18px; background: #000; position: absolute; transform: rotate(90deg); transition: 0.3s;}
/* 가상선택자: 블록이 아닌 상태 */

header .more:hover::before {transform: rotate(45deg);}
header .more:hover::after {transform: rotate(135deg);}


.hero {}
.hero .textbox {position: absolute; background: rgba(27, 3, 0, 0.7); z-index: 9; left: 50%; width: 610px; padding: 60px 70px; box-sizing: border-box; margin-left: 140px; top: 50%; margin-top: -195px;}
.hero .textbox .title {font-size: 55px; color: #fff; letter-spacing: -2px; margin-bottom: 24px;}
.hero .textbox p {font-size: 18px; color: #fff; margin-bottom: 36px; line-height: 2;}

.section_box {}


.section1 {padding: 113px 0;}
.section1 .container {display: flex; justify-content: space-between; align-items: center;}
/* .section1 .container .textbox {display: flex; flex-direction: column; align-items: start; justify-content: center;} */
.section1 .container strong {font-size: 40px; margin-bottom: 50px; display: block;}
.section1 .container p {font-size: 18px; line-height: 2; margin-bottom: 37px;}


.section2 {display: flex;}
.section2 .left {width: 50%; background: url(../images/sec2_img1.png); background-size: cover; padding: 113px 0; display: flex; justify-content: end;}
/* background-size: cover; 배경 이미지 크기 조절 */
.section2 .left .textbox {width: 560px; color: #fff;}
.section2 .left ul {display: flex; flex-direction: column; gap: 96px;}
/* flex-direction: column; 세로 정렬 */
.section2 .left ul li {position: relative;}
.section2 .left ul li::before {content: ""; position: absolute; width: 17px; height: 1px; background: #fff; left: 0; top: 18px;}

.section2 .left .textbox strong {font-size: 24px; padding-left: 34px;}
.section2 .left .textbox p {font-size: 14px; margin-top: 19px; padding-left: 34px;}

.section2 .right {width: 50%; background: url(../images/sec2_img2.png); background-size: cover;}
.seciton2 .right .textbox {width: 560px;}


.section3 {padding: 113px 0;}
.section3 h2 {font-size: 40px; margin-bottom: 37px; text-align: center;}
.section3 ul {display: flex; justify-content: space-between;}
.section3 ul li {text-align: center;}
.section3 ul li a {}
.section3 ul li a figure{}
.section3 ul li a figure img {}
.section3 ul li a .ex {font-size: 16px;}
.section3 ul li a p {font-size: 18px;}



footer {background: #071215; padding: 90px 0; display: flex; justify-content: center; align-items: center;}
